# Mac stuff:
.DS_Store

# trunk output folder
dist

# macOS app bundle build output (scripts/bundle.sh)
build

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
